{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<nav class="navbar navbar-expand-sm bg-info navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'polls:index' %}">Polls</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'polls:comments' %}">Make a Comment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'polls:comments list' %}">Comments List</a>
    </li>
	<li class="nav-item">
	  <a class="nav-link" href="https://www.buybuybaby.com/">Super Secret Page</a>
	</li>
  </ul>
</nav>

<br>

<div class="d-flex justify-content-center">
<h1>Comment List</h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
  	{% if comments_list %}
		{% for comment in comments_list %}
		<tr>
      		<td>{{comment.name}}</td>
      		<td>{{comment.comment_body}}</td>
    	</tr>
		{% endfor %}
	{% endif %}
  </tbody>
</table>

<br>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-1"><h4>Grant D. Dong</h4></div>
  <div class="footer-copyright text-center py-1">©Copyright 2020-2020:
    Powered by the class of <a href="http://cs3240.cs.virginia.edu/index.html">CS 3240</a>
  </div>
</footer>
