{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<nav class="navbar navbar-expand-sm bg-info navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'polls:index' %}">Polls</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'polls:comments' %}">Make a Comment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'polls:comment list' %}">Comments List</a>
    </li>
	<li class="nav-item">
	  <a class="nav-link" href="https://www.buybuybaby.com/">Super Secret Page</a>
	</li>
  </ul>
</nav>

<br>

<div class="d-flex justify-content-center">
<h1>{{ question.question_text }}</h1>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
	<div class="d-flex justify-content-center">
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
	&nbsp;&nbsp;&nbsp;
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
	</div>
{% endfor %}

<div class="d-flex justify-content-center">
<button type="submit" class="btn btn-primary">Vote</button>
</div>
</form>

<br><br>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-1"><h4>Grant D. Dong</h4></div>
  <div class="footer-copyright text-center py-1">©Copyright 2020-2020:
    Powered by the class of <a href="http://cs3240.cs.virginia.edu/index.html">CS 3240</a>
  </div>
</footer>